@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-size: 67%;
}
:root{
    --primary:#1E201E;
    --secondry:#3C3D37;

    --titleColor:#f1eadf;
    --subTitleColor:#ccc1b1;
    


    --blue:rgb(93, 188, 252);
    --lblue:rgba(129, 202, 250, 0.555);
    --bg:#52534c;


    --linkfontSize:2rem;
    --bigtitlefontSize:4rem;
    --paragraphFS:1.8rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary);  /* fallback for old browsers */
    font-family: "Roboto", sans-serif;

}
body h1{
   font-size: 4rem;
   color: var(--titleColor);
}
body p{
    font-size: 2rem;
    color: var(--subTitleColor);
 }
.container{
background-color:var(--secondry);
width: 80%;
max-width: 114.4rem;
margin: 0 auto;
color: var(--titleColor);
padding: 1rem 2rem;
}
.ider{
   border:1px solid #ccc1b127 ;
   margin: 4rem 0;

}

@media screen and (max-width:600px) {
    .container{
        width: 90%;
        margin: 0 auto;
        }
    
}
@media screen and (max-width:400px) {
    .container{
        background-color: aqua;
        width: 100%;
        margin: 0 1rem;
        }
    
}